* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Robotobold.ttf);
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 25px;
    padding-top: 25px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header-con {
    display: flex;
    align-items: center;
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu-item {
    margin-right: 115px;
}

.menu-item a {
    color: #030305;
    text-decoration: none;
    font-weight: 15px;
}

.menu-item a:hover {
    border-bottom: 1px solid #030305;
}

.main {
    background-image: url(../img/urus.png);
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    color: #030305;
    padding-bottom: 41px;
}

.main-text {
    font-size: 16px;
    max-width: 502px;
    padding-bottom: 40px;
}

.main-action button {
    width: 334px;
    height: 64px;
    font-weight: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #030305;
    border: #030305 solid 0px;
}

.main-action button:hover {
    background-color: #3b3b3d;
}

.sub-title {
    padding-top: 100px;
    font-size: 60px;
}

.car-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-height: 473px;
}

.car-item {
    max-width: 384px;
    text-align: center;
    margin-left: 24px;
}

.fcar {
    margin-left: 0;
}

.thcar {
    margin-left: 0;
}

.car-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 17px;
    margin-top: 15px;
}

.car-item-characteristics {
    display: flex;
    text-align: center;
}

.car-item-gear {
    margin-left: 12px;
    width: 110px;
}

.car-item-engine {
    margin-right: 15px;
    margin-left: 15px;
    width: 110px;
}

.car-item-space {
    width: 110px;
}

.car-item-action button {
    background-color: #030305;
    border: #030305 0px solid;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 384px;
    height: 54px;
    margin-top: 12px;
}

.car-item-action button:hover {
    background-color: #3b3b3d;
}

.sub-title h3 {
    font-size: 60px;
    margin-top: 513px;
    margin-bottom: 20px;
}

.price-text {
    font-size: 16px;
    color: #5D5D5F;
}

.price-form-con {
    display: flex;
}

.price-form {
    margin-top: 60px;
    margin-right: 57px;
}

.price-form input {
    padding-left: 20px;
    width: 344px;
    height: 65px;
    margin-bottom: 15px;
    border: #5D5D5F 1px solid;
    color: #5D5D5F;
}

.price-form button {
    width: 366px;
    height: 64px;
    font-weight: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #030305;
    border: #030305 solid 0px;
}

.price-form button:hover {
    background-color: #3b3b3d;
}

footer {
    border-top: 1px #E5E5E5 solid;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}